:root {
  --background-color-light: #f5f3fa;
  --headline-color-light: #7d6d9c;
  --paragraph-color-light: #8c93ab;
  --button-color-light: #b080c0;
  --button-text-color-light: #7d6d9c;
  --illustration-stroke-color-light: #7d6d9c;
  --main-color-light: #f5f3fa;
  --highlight-color-light: #b080c0;
  --secondary-color-light: #d5ebf7;
  --tertiary-color-light: #a5d6d7;

  --background-color-dark: #1a1a1a;
  --headline-color-dark: #b080c0;
  --paragraph-color-dark: #8c93ab;
  --button-color-dark: #7d6d9c;
  --button-text-color-dark: #ffffff;
  --illustration-stroke-color-dark: #7d6d9c;
  --main-color-dark: #1a1a1a;
  --highlight-color-dark: #a5d6d7;
  --secondary-color-dark: #32414b;
  --tertiary-color-dark: #d5ebf7;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--headline-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#themeSwitch {
  position: absolute;
  top: 15%;
  left: 10px;
  cursor: pointer;
  z-index: 999;
  background-color: var(--highlight-color-light);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  border: none;
  transition: background-color 0.3s ease;
}

#themeSwitch::before {
  content: "☀️"; /* Ícono para el tema claro, puedes cambiarlo según tu preferencia */
  margin-right: 5px;
}

.theme-dark #themeSwitch::before {
  content: "🌙"; /* Ícono para el tema oscuro, puedes cambiarlo según tu preferencia */
  margin-right: 5px;
}

nav {
  background-color: #3b3450;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.logo {
  justify-content: start;
  opacity: 0.8;
  position: relative;
  top: 2px;
  margin-left: 5%;
}

.logo img {
  max-width: 100%;
  height: auto;
  position: relative;
  border-radius: 50%;
}

#navUl {
  justify-content: end;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: white;
  margin-right: 3%;
}

#navLi {
  margin: 20px;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--highlight-color-light);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color-light);
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.container img {
  width: 50%;
  float: right;
}

.content {
  flex: 1;
  padding: 0 20px;
}

h2 {
  color: var(--headline-color-light);
}

p {
  margin-top: 10px;
}

button {
  background-color: var(--button-color-light);
  color: var(--button-text-color-light);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.containerService {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #5b656e;
}

.service-box {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-box img {
  width: 100px;
  margin-bottom: 10px;
  justify-items: center;
}

#imgVolunteering {
  width: 30%;
}

#imgVolunteer {
  width: 20%;
  margin-top: 4%;
  margin-bottom: 5%;
}

h6 {
  font-size: 20px;
  padding: 0;
  margin: 5px;
}

#serviceUl {
  list-style: none;
  padding: 0;
}

.service-box ul li {
  margin: 3%;
}
section h2{
  text-align: center;
}
.training-section {
  text-align: center;
  padding: 20px;
}

.cards {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.training-card {
  flex: 0 0 calc(33.333% - 20px);
  box-sizing: border-box;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 10px 20px 10px;
  padding: 15px;
  transition: transform 2s ease;
  cursor: pointer;
}

.training-card:hover {
  transform: scale(1.05); /* Aumentar tamaño en hover para dar efecto visual */
  transition-duration: 2s;
  background-color: var(--button-text-color-light);

}

.title {
  font-size: 18px;
  font-weight: bold;
}

.subtitle,
.description {
  display: none; /* Inicialmente ocultar el subtítulo y la descripción */
}

.training-card:hover .subtitle,
.training-card:hover .description {
  display: block; /* Mostrar subtítulo y descripción en hover */
}
.counter-container {
  text-align: center;
  margin-top: 5%;
}

.counter {
  font-size: 3em;
  font-weight: bold;
  color: #333;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  width: 400px;
}

input {
  width: 200px;
  border-radius: 100px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  margin: 0;
  padding: 0;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

#form {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.counter-container {
  margin-top: 5%;
}

#form {
  text-align: center;
  margin-bottom: 5vh;
}

.submit-button {
  grid-column: span 3;
  width: 75px;
  height: 50px;
  margin-left: 250px;
  border-radius: 50%;
  /* Adjust this value as needed */
}

button:hover {
  color: white;
}

img {
  border-radius: 10%;
}

/* Style the navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

}

/* Style the hamburger button */
#navToggleBtn {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

#navToggleBtn .hamburger {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  color: white;
}

#navToggleBtn .hamburger:hover {
  color: var(--highlight-color);
    transition: color 0.3s ease;
}

/* Hide the navigation items by default */
#navUl {
  display: none;
  flex-direction: column;
}
#form{
  margin: 5%;
}
footer{
  text-align: center;
  margin-bottom: 5%;
}
/* Show the navigation items on large screens */
@media (min-width: 600px) {
  #navUl {
      display: flex;
      flex-direction: row;
  }
  #navToggleBtn {
      display: none;
  }
  
}

/* Show the hamburger menu on small screens */
@media (max-width: 600px) {
  #navToggleBtn {
      display: flex;
      
  }
  .containerService{
    display: flex;
    flex-direction: column;
  }
  .about{
    display: flex;
    flex-direction: column;
    

  }

  #form{
    display: flex;
    flex-direction: column;
  }

  .form{
    display: flex;
    flex-direction: column;
  }
  
  .cards{
    justify-content: center;
    align-items: center;
  }

  

}
/*darktheme*/
.theme-dark body {
  background-color: var(--background-color-dark);
  color: var(--headline-color-dark);
}

.theme-dark #themeSwitch {
  background-color: var(--highlight-color-dark);
}

.theme-dark nav {
  background-color: #3b3450;
  border-top: 3px solid var(--highlight-color-dark);
  color: #ffffff;
  margin: 0;
}

.theme-dark a {
  color: var(--tertiary-color-dark);
}

.theme-dark a:hover {
  color: var(--highlight-color-dark);
}

.theme-dark header {
  background-color: var(--background-color-dark);
}

.theme-dark p {
  color: var(--paragraph-color-dark);
}

.theme-dark button {
  background-color: var(--button-color-dark);
  color: var(--button-text-color-dark);
}

.theme-dark .service-box {
  background-color: var(--background-color-dark);
  color: var(--main-color-dark);
}

.theme-dark #serviceUl li {
  color: var(--paragraph-color-dark);
}

.theme-dark #training{
  color: var(--background-color-dark);
}