:root {
    --background-color: #f5f3fa;
    --headline-color: #7d6d9c;
    --paragraph-color: #8c93ab;
    --button-color: #b080c0;
    --button-text-color: #7d6d9c;
    --illustration-stroke-color: #7d6d9c;
    --main-color: #f5f3fa;
    --highlight-color: #b080c0;
    --secondary-color: #d5ebf7;
    --tertiary-color: #a5d6d7;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--headline-color);
  }
  
  nav {
    background-color: #3b3450; 
    border-top: 3px solid var(--highlight-color);
    color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
  }
  
  .logo {
    justify-content: start;
    opacity: 0.8;
    position: relative;
    top: 2px;
    margin-left: 5%;
  }
  
  .logo img {
    max-width: 100%; /* Establece un ancho máximo */
    height: auto;
    position: relative;
    border-radius: 50%;
    
  }
  
  #navUl {
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    margin-right: 3%;
  }
  
  #navLi {
    margin: 20px;
  }
  
  a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 16px;
  }
  
  a:hover {
    color: var(--highlight-color);
    transition: color 0.3s ease;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
}

.container img {
    width: 50%;
    float: right;
}

.content {
    flex: 1;
    padding: 0 20px;
}

h2 {
    color: var(--headline-color);
}

p {
    margin-top: 10px;
}

button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.containerService {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #5b656e; /* A slightly darker tone for the background */
}

.service-box {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-box img {
    width: 100px; /* Adjust the image size as per your preferences */
    margin-bottom: 10px; /* Adds some space between the image and text */
    justify-items: center;
}
#imgVolunteering{
    width: 30%;
}
#imgVolunteer{
    width: 20%;
    margin-top: 4%;
    margin-bottom: 5%;
}
h6 {
    font-size: 20px;
    padding: 0;
    margin: 5px;
}

#serviceUl {
    list-style: none;
    padding: 0;
}
.service-box ul li{
    margin: 3%;
}

.training-card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.subtitle {
    font-size: 0.9em;
    font-weight: bold;
    color: #777;
    margin-top: 5px;
}

.description {
    margin-top: 10px;
    color: #555;
}


.counter-container {
    text-align: center;
}

.counter {
    font-size: 3em;
    font-weight: bold;
    color: #333;
}
form{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin: 0;
    padding: 0;
    width: 400px;
}

input{
    width: 200px;
    border-radius: 100px;
}